{% extends 'base.html' %}

{% block content %}
  <div style="max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <h2>About Us</h2>

    <div style="line-height: 1.6; font-size: 16px;">
      <p style="margin-bottom: 20px;">
        StudyStreamLine is a platform that aims to provide a wide range of informative and engaging articles across various topics including technology, science, freelancing, scholarships, internships, online courses, health, interesting informative articles, and entertainment.
      </p>

      <p style="margin-bottom: 20px;">
        Our mission is to create a space where readers can explore a diverse range of topics and stay up-to-date with the latest trends and information. Our team of writers is passionate and knowledgeable about their respective areas of expertise and works hard to provide high-quality content that is both informative and enjoyable to read.
      </p>

      <p style="margin-bottom: 20px;">
        Whether you're looking for tips on how to start freelancing, the latest advancements in technology, or simply some entertaining articles to pass the time, we've got you covered. Our goal is to inspire and educate our readers, and we are committed to creating a positive and engaging community.
      </p>

      <p style="margin-bottom: 20px;">
        We also welcome guest contributors who are interested in sharing their expertise and contributing to our community. So, if you have a passion for writing and would like to share your knowledge with our readers, we would love to hear from you.
      </p>

      <p>
        Thank you for visiting our website, and we hope you enjoy our content. If you have any feedback or suggestions, please feel free to contact us.
      </p>

      <div style="margin-top: 20px;">
        <a href="mailto:studystreamline@gmail.com">
          <img src="/media/img/gmail.png" alt="Gmail" style="height: 50px; width: 50px; margin-left: 170px; margin-right: 40px;">
        </a>
        <a href="https://www.facebook.com/bmeducationalsystem">
            <img src="/media/img/facebook.png" alt="Gmail" style="height: 50px; width: 50px; margin-right: 40px;">
          </a>
          <a href="https://www.youtube.com/@BISEMultanEducationalSystem">
            <img src="/media/img/youtube.png" alt="Gmail" style="height: 50px; width: 50px; margin-right: 40px;">
          </a>
        <a href="https://wa.me/923058982799">
          <img src="/media/img/whatsapp.png" alt="WhatsApp" style="height: 50px; width: 50px;">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
