   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">STUDYSTREAMLINE</h5>
                <p class="grey-text text-lighten-4">STUDYSTREAMLINE is a platform that aims to provide a wide range of informative and engaging articles across various topics including technology, jobs, freelancing, scholarships, internships, online courses, health, interesting informative articles, and entertainment.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Links</h5>
                <ul>

                  <div style="margin-top: 20px;">
                    <a href="mailto:studystreamline@gmail.com">
                      <img src="/media/img/gmail.png" alt="Gmail" style="height: 50px; width: 50px; margin-left: 0; margin-right: 20px;">
                    </a>
                    <a href="https://www.facebook.com/bmeducationalsystem">
                        <img src="/media/img/facebook.png" alt="Gmail" style="height: 50px; width: 50px; margin-right: 20px;">
                      </a>
                      <a href="https://www.youtube.com/@BISEMultanEducationalSystem">
                        <img src="/media/img/youtube.png" alt="Gmail" style="height: 50px; width: 50px; margin-right: 20px;">
                      </a>
                    <a href="https://wa.me/923058982799">
                      <img src="/media/img/whatsapp.png" alt="WhatsApp" style="height: 50px; width: 50px;">
                    </a>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 STUDYSTREAMLINE - All Rights are Reserved.
            </div>
          </div>
        </footer>